extends template/template.pug


block title
	title (название страницы)
	meta(name='description', content='Описание страницы и сайта')



block main
	
	h1 #{hhh}
	
	+svg("#letter", "someclass")
	+svg("#letter", "someclass", '50')
	+svg("#letter", "someclass", '50', '150')






